.mybookings {
  padding: 20px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 20px;
}

.my-bookings-container {
  border: 1px solid #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 280px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.my-bookings-container > img {
  max-width: 220px;
  max-height: 160px;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 15px;
}

.my-bookings-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.booking-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.my-bookings-status {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  column-gap: 15px;
}

.my-bookings-status > button {
  flex: 1;
  color: white;
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cancel-button {
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: transparent;
  border: 1px solid #ff4d4d;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #e60000;
  transform: scale(1.05);
  color: #fff;
}

.payment-button {
  background-color: #4caf50;
  transition: background-color 0.3s ease, transform 0.2s ease;
  border: none;
  cursor: pointer;
}

.payment-button:hover {
  background-color: #388e3c;
  transform: scale(1.05);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Status */
.status-text {
  animation: fadeIn 0.5s ease-out;
}

.cancelled {
  color: #FF4C4C; /* Light red */
}

.pending_payment {
  color: #FFA500; /* Orange */
}

.pending_approval {
  color: #F0E68C; /* Light yellow */
}

.confirmed {
  color: #4CAF50; /* Green */
}

.rejected {
  color: #FF6347; /* Tomato red */
}

.noshow {
  color: #B22222; /* Firebrick red */
}

.completed {
  color: #32CD32; /* Lime green */
}

.expired {
  color: #808080; /* Gray */
}

@media (max-width: 1300px) {
  .mybookings {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1050px) {
  .mybookings {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media (max-width: 720px) {
  .mybookings {
    grid-template-columns: 1fr;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
  }
}