.payment-container {
    border-radius: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 500px;
    max-height: 700px;
    height: auto;

    position: fixed;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    opacity: 0;

    z-index: 1000;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
    border: 2px solid #444957;
    background-color: #ffffff;
    padding: 10px 30px;

    overflow-y: auto;
    scrollbar-width: thin;

    animation: modalFadeIn 0.3s ease forwards;
}

.payment-container hr {
    border: 1px solid #444957;
    margin: 0 -30px;
}

.payment-container span {
    font-weight: 400;
}

.payment-container h3, .payment-container h4 {
    color: var(--primary);
}

.payment-coupon {
    display: flex;
    column-gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.payment-coupon input {
    width: 50%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #f9f9f9;
    color: var(--primary);
}

.payment-coupon input:focus{
    border-color: var(--primary);
    outline: none;
}

.payment-container button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment-container button:enabled {
    background-color: #28a745;
}

.payment-container button:active:hover {
    background-color: #218838;
}

.payment-container button:disabled {
    cursor: not-allowed;
    color: #ccc;
    transform: none;
    border: 1px solid #ddd;
}

.payment-container button:disabled:hover,
.payment-container button:disabled:active {
    color: #ccc;
    transform: none;
}

.payment-timer {
    color: #ff4d4d;
}

.payment-container h4:last-child {
    font-size: 20px;
    font-weight: bold;
}

.payment-pricing h4 {
    justify-content: space-between;
    display: flex;
}

@media (max-width: 768px) {
    .payment-container {
        width: 90%;
        padding: 20px;
    }

    .payment-container button {
        font-size: 16px;
    }
}