.toastNotif-container {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 25%;
  background-color: #1E1E1E;
  border: 1px solid #fff;
  text-align: center;
  z-index: 9999;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.toastNotif-container button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #fff;
  color: #1E1E1E;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.toastNotif-container button:hover {
  opacity: 0.8;
}
