.message {
  display: flex;
  height: calc(100vh - 60px - 30px);
  padding: 10px 0;
  column-gap: 12px;
}

.message_chat-heads {
  width: 27%;
  max-width: 370px;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: center;
  border-radius: 12px;
  padding: 0 5px;
}

.message-chat-heads-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 15px 10px;
}

.message-content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.message-chat-heads-list::-webkit-scrollbar {
  width: 5px;
}

.message-chat-heads-list::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 10px;
}

.message-chat-active {
  border-radius: 12px;
  background: transparent;
  transition:
    transform 160ms ease,
    box-shadow 160ms ease,
    outline 160ms ease;

  outline: 1px solid rgba(255, 255, 255, 0.12);
  box-shadow:
    0 2px 16px rgba(0, 0, 0, 0.45),
    inset 0 1px 0 rgba(255, 255, 255, 0.04);
  transform: translateY(-1px);

  margin: 10px 0;
}

.message-chat-heads-list Link{
  text-decoration: none;
}

