.booking-message-card-container {
  gap: 20px;
  padding: 20px;
  row-gap: 5px;
  display: flex;
  flex-direction: column;
}

.booking-message-card {
  display: grid;
  grid-template-columns: 50px 1fr;
  column-gap: 20px;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 10px;
  width: 30%;
  cursor: pointer;
}

.booking-message-card-img {
    border: 1px solid #fff;
    object-fit: cover;
    height: 50px;
    width: 50px;
}

.booking-message-card-header {
    justify-content: space-between;
    display: flex;
}

.booking-message-card-header h4 {
    margin: 0;
}