@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto.ttf");
}

@font-face {
  font-family: "Bristol";
  src: url("../fonts/Bristol.otf");
}

:root {
  --primary: #222831;
  --secondary: #393E46;
  --accent: #00ADB5;
  --background: #EEEEEE;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: #222831;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, p, li {
  font-family: "Roboto";
}

li {
  text-decoration: none;
}

h1 {
  font-size: 42px;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  text-decoration: none;
}

input {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 10px 20px;
}

input:focus {
  outline: none;
  box-shadow: none;
}

/* Colors */
.black {
  color: #484848
}

.white {
  color: #fff;
}

.primary {
  color: #FF5A5F;
}

.secondary{
  color: #B08D57;
}

.background_white {
  background-color: #fff;
}

/* text align */
.text-center {
  text-align: center;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.back-button {
  border: #B08D57 1px solid;
  background-color: transparent;
}

.card-container {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 12px;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-container h1,
.card-container h2,
.card-container h3,
.card-container h4,
.card-container h5 {
  color: #000;
}

.btn-outline,
.btn-success,
.btn-danger,
.btn-white-outline {
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.2s;
}

.btn-outline {
  background: #fff;
  border: 1px solid #222;
}

.btn-outline:hover {
    background: #222;
    color: #fff;
}

.btn-white-outline {
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}

.btn-white-outline:hover {
    background: #fff;
    color: #222;
}

/* Approve Button */
.btn-success {
    background: #2ecc71;
    border: none;
    color: #fff;
}
.btn-success:hover {
    background: #27ae60;
}

/* Decline Button */
.btn-danger {
    background: #e74c3c;
    border: none;
    color: #fff;
}
.btn-danger:hover {
    background: #c0392b;
}