.property-form {
    width: 100%;
    margin: 50px 0;
}

.title-price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
}

.title-price-container select {
    background-color: transparent;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
}

.title-price-container select option {
    color: #000;
}

.property-input-long {
    width: 60%;
}

.property-price {
    width: 35%;
}

.desc {
  width: 100%;
  min-height: 200px;
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  resize: vertical;
  vertical-align: top;
}

.property-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  text-decoration: none;
  margin: 100px 0;
  column-gap: 20px;
}

.property-location-container {
    flex-direction: row;
    display: flex;
}

.property-short-input {
    width: 30%;
}